:root {
    --color-background: #0D0D0D;
    /* цвет фона сайта */
    --color-block: #1F1F1F;
    /* цвет фона блоков */
    --color-text: #FFF;
    /* цвет текста */
    --color-main: #456AFF;
    /* акцентный цвет */

    /* цвета представления данных */
    --color-true: #367E4A;
    /* прибыль */
    --color-alert: #C4CA5A;
    /* предупреждение */
    --color-false: #844343;

    /* цвета чернил CMYK + W */
    --C: rgb(0, 169, 236);
    --M: rgb(228, 0, 123);
    --Y: rgb(248, 245, 0);
    --K: black;
    --W: white;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

input,
button {
    color: var(--color-text);
    margin: 0.1em 0;
    padding: 10px;
    border: 1px solid #343434;
    background-color: var(--color-block);
    cursor: pointer;
}

.wrapper {
    width: 80%;
    margin: auto;
    padding: 0 2em;
}

/* прижимает footer к низу страницы */
html {
    height: 100%
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: var(--color-text);
    font-family: sans-serif;
    background-color: var(--color-background);
}

ol {
    padding: 0 0 0 20px;
}

.disable {
    opacity: 0.3;
    cursor: no-drop;
}

/*----------------------------------*/

@media (orientation:portrait) {
    .wrapper {
        width: 100%;
        padding: 0 1rem;
    }
}
