:root {
    --color-background: #0D0D0D;   /* цвет фона сайта */
    --color-block: #1F1F1F;        /* цвет фона блоков */
    --color-text: #FFF;            /* цвет текста */
    --color-main: #456AFF;         /* акцентный цвет */
    
    /* цвета представления данных */
    --color-true: #367E4A;  /* прибыль */
    --color-alert: #C4CA5A; /* предупреждение */
    --color-false: #844343; /* убыток */
    
    /* цвета чернил CMYK + W */
    --color-cyan: ;
    --color-magenta: ;
    --color-yellow: ;
    --color-key: ;
    --color-white: ;
}

/* тест */
/*
header {background: blue}
main {background: red}
footer {background: green}
*/

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    color: var(--color-text);
    font-family: sans-serif;
    background-color: var(--color-background);
}

.wrapper {
    width: 80%;
    margin: auto;
    padding: 0 2em;
}

/* прижимает footer к низу страницы */
html {height: 100%}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
/*----------------------------------*/

main, footer {padding: 1em 0}

/* адаптив */
/* Large desktops and laptops */
@media (min-width: 1200px) {}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {}

/* Landscape phones and smaller */
@media (max-width: 580px) {}

/* По надобности дописую промежуточные разрешения, если вдруг по дизайну что то падает на 650px, тогда дописую: */
@media (max-width: 650) {}