pre {
    padding: 1em;
    background-color: var(--color-block);
    border-radius: 8px;
}

svg {
    width: 50%;
    background-color: #027DEE;
    transform: scaleY(-1);
    background-image: url(img/blueprint_paper.jpg);
}

@media (orientation: portrait) {
    svg {
        width: 100%;
    }
}