pre {
    padding: 1em;
    background-color: var(--color-block);
    border-radius: 8px;
}

svg {
    width: 50%;
    background-color: #027DEE;
    transform: scaleY(-1);
    background-image: url(img/blueprint_paper.jpg);
}

input {
    width: 100px;
    border-radius: 4px;
    padding: 8px;
}

button {
    padding: 6px 8px;
    margin: 1em 0;
    cursor: pointer;
    border-radius: 4px;
}

@media (orientation: portrait) {
    svg {
        width: 100%;
    }
}