main .wrapper:first-child {
    display: grid;
    margin: auto;
    grid-gap: 20px;
    grid-template-columns: 100px auto 1fr auto;
    grid-auto-rows: 100px 24;
    grid-template-areas:
        "ico    value progress name"
        "status status .. ...";
}

#ico {
    grid-area: ico;
    height: auto;
    aspect-ratio: 1/1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(icon.svg);
}

#inkValue {
    grid-area: value
}
#inkProgress {
    grid-area: progress
}
#inkName {
    grid-area: name
}

progress {
    width: 100%;
}

/* INK */
.ink {
    display: grid;
    grid-area: ink;
    grid-gap: 10px;
    grid-template-columns: auto auto 1fr;
}

progress {
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid gray
}

progress::-webkit-progress-bar {
    background-color: lightgray
}

progress::-moz-progress-bar {
    border: 1px solid red
}

#C::-webkit-progress-value {background-color: var(--C)}
#M::-webkit-progress-value {background-color: var(--M)}
#Y::-webkit-progress-value {background-color: var(--Y)}
#K::-webkit-progress-value {background-color: var(--K)}
#W::-webkit-progress-value {background-color: var(--W)}

.icon {
    height: 16px;
    aspect-ratio: 1/1;
}

.status {
    grid-area: status;
    border: 1px solid red;
}
.status > img {
    height: 100%;
    cursor: pointer;
}


/* состояние голов */
#cluster-print-head-stististics {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.print-head-stististics {
    width: 310px;
    background-color: #161616;
    padding: 1rem;
    border-radius: 1rem;
}

.print-head-stististics > .title {
    font-size: 2em;
    margin-bottom: 1rem;
}

.print-head-stististics > p {
    color: #404040;
    margin-bottom: 1rem;
}

.progress {
    display: flex;
    gap: 10px;
}

.progress > div {
    width: 6px;
    height: 50px;
    border-radius: 4px;
    background-color: #404040;
}
/* значения отработки голов */
.W .progress > div:nth-child(-n+11) {background-color: red}
.CMYK .progress > div:nth-child(-n+18) {background-color: red}